<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.mytest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".broadcast.NetworkConnectChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- 跨app调用 -->
                <action android:name="com.example.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>


        <service android:name=".service.TestFirstService" />
        <service android:name=".service.TestSecondService" />
        <service
            android:name=".binder.BinderPoolService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.test.wh.AIDLService" />
            </intent-filter>
        </service>

        <service
            android:name=".binder.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.wh.MessengerService" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".binder.ServerActivity" />
        <activity
            android:name=".binder.ClientActivity"
            android:process=":test" />
        <activity android:name=".service.AActivity" />
        <activity android:name=".service.BActivity" />
        <activity android:name=".service.ServiceTestActivity" />
        <activity android:name=".broadcast.BroadcastActivity" />
        <activity android:name=".okhttp.OkHttpTestActivity" />
        <activity android:name=".webview.WebViewTestActivity" />
        <activity android:name=".glide.GlideTestActivity" />
        <activity android:name=".handler.HandlerTestActivity" />
        <activity android:name=".leak.LeakTestActivity" />
        <activity android:name=".quote.QuoteTestActivity" />
        <activity android:name=".ViewSlideActivity" />
        <activity android:name=".HorizontalTestActivity" />
        <activity android:name=".test.ViewStubTestActivity" />
        <activity
            android:name=".launch_mode.D"
            android:launchMode="standard"
            android:taskAffinity="com.test" />
        <activity
            android:name=".launch_mode.C"
            android:launchMode="singleTop" />
        <activity
            android:name=".launch_mode.B"
            android:launchMode="singleTask"
            android:taskAffinity="com.test1111" />
        <activity
            android:name=".launch_mode.A"
            android:launchMode="singleInstance" />


    </application>

</manifest>